header {
  background-image: url("assets/coding.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.size {
  font-size: 20px;
  background-color: rgb(111, 200, 101,50);

}
/*
body {
  background-image: url("assets/coding.jpg");
} */



h1 {
  color: white;
  text-align: center;
  font-family: ;
}

header > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.flex > * {
  border: 1px solid;
}

body > form {
  margin: 2em;
  padding: 1em;
  border: 1px solid black;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  header {
    height: 90vh;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: .5rem;
    list-style-type: none;
  }
}

@media (min-width: 550px){
  header {
    height: 60vh;
  }

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: .5rem .5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }
}

@media (max-width: 550px) {
  * {
	flex-direction: column;
  }
}

.box {
  background-image: url("section05\5.3\assets\chococat.jpg");
}

